#chat-window {
    width: 500px;
    background-color: #f0f0f0;
    border: black;
    border-radius: 2px;
    margin-top: 20px;
  }
  .sent {
    text-align: right;
  }
  .received {
    text-align: left;
  }
  #message-input {
    border-radius: 4px;
    padding: 5px;
  }
  #send-button, #location-button {
    height: 29px;
  }
